[submodule "/Users/ari/.vim/pack/bundle/start/vim-fugitive"]
	path = /Users/ari/.vim/pack/bundle/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "/Users/ari/.vim/pack/bundle/start/vim-gitgutter"]
	path = /Users/ari/.vim/pack/bundle/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "/Users/ari/.vim/pack/bundle/opt/vim-scriptease"]
	path = /Users/ari/.vim/pack/bundle/opt/vim-scriptease
	url = git@github.com:tpope/vim-scriptease.git
[submodule "/Users/ari/.vim/pack/bundle/opt/vim-xterm-color-table"]
	path = /Users/ari/.vim/pack/bundle/opt/vim-xterm-color-table
	url = git@github.com:guns/xterm-color-table.vim.git
[submodule "/Users/ari/.vim/pack/my-notes"]
	path = /Users/ari/.vim/pack/my-notes
	url = https://github.com/AriSweedler/vim-notes
[submodule "/Users/ari/.vim/pack/misc-plugins"]
	path = /Users/ari/.vim/pack/misc-plugins
	url = git@github.com:AriSweedler/vim-misc-plugins.git
