# This is Git's per-user configuration file.
[user]
	name = Ari Sweedler
	email = ari.sweedler@illumio.com
	username = arisweedler

[core]
	excludesfile = ~/.gitignore
	editor = vim

[push]
	default = simple

[init]
	templatedir = ~/.git_template

[diff]
	tool = vimdiff

[interactive]
	singleKey = true

################################## aesthetics ##################################
[color "diff"]
	meta = yellow black bold
	frag = magenta black bold
	old = red bold
	new = green bold

[color "status"]
	added = green black bold
	changed = yellow black bold
	untracked = red reverse bold

[pretty]
	# '%h': abbreviated commit hash
	# '%ar': author date, relative
	# '%D': ref names without the " (", ")" wrapping.
	# '%s': subject
	# '%an': author name
	newlog = "format:%C(cyan)%h %C(green)%<(12,trunc)%ar %C(dim white)%<(12,trunc)[%an] %C(reset)%s %w(0,0,8)%C(bold red)%+d%C(reset)"

################################### shortcuts ##################################
[alias]
	a = !"git add .; git s"
	alias = !"git config -l | grep ^alias | cut -c 7- | sort #"
	showme = !"printf \"The alias '$1' is: \"; git config -l | sed /alias.$1=/!d | sed s/.*=// #"
	amend = commit --amend --reuse-message=HEAD
	cconfig = config --edit --global
	ctags = !.git/hooks/ctags
	d = diff --cached --diff-algorithm=minimal
	ag = grep --break --heading --line-number
	l = log --pretty=newlog --graph -10
	lg = log --pretty=newlog --since "2 months ago"
	ls = ls-tree --full-tree -r --abbrev HEAD
	p = !"script -q /dev/null git l | head -3; git push; stty sane; echo ''"
	s = status --short --branch
	ss = status
