# This is Git's per-user configuration file.
[user]
	name = Ari Sweedler
	email = ari@sweedler.com
	username = arisweedler

[core]
	excludesfile = ~/.gitignore
	editor = vim

[color "diff"]
	meta = yellow black bold
	frag = magenta black bold
	old = red bold
	new = green bold

[color "status"]
	added = green black bold
	changed = yellow black bold
	untracked = red reverse bold

[alias]
	l = log --pretty=format:"%C(yellow)%h\\ %C(green)%ar\\ %C(red)%D\\ %Creset%s\\ %C(blue)[%cN]"
	ll = log --pretty=oneline --abbrev-commit
	s = status
	ls = ls-tree --full-tree -r --abbrev HEAD
	d = diff --cached
	amend = commit --amend --reuse-message=HEAD
	alias=!"git config -l | grep ^alias | cut -c 7- | sort #"
	showme=!"git config -l | grep $1 | cut -c $(( ${#1} + 2 ))- | sort #"
	u = remote update
	up = !"git remote update -p; git merge --ff-only @{u}"

[push]
	default = simple
