.CFUserTextEncoding
.IdentityService/
.ServiceHub/
.Trash/
.android/
.anyconnect
.aws/
.azcopy/
.azure/
.bash_history
.bashrc*
.cargo/
.cisco/
.claude*
.config/AWSVPNClient
.config/Google/
.config/Microsoft\\VisualStudio Services/
.config/atac/atac.log
.config/containers/
.config/dlv
.config/fish/
.config/gatsby/
.config/gcloud/
.config/gh/hosts.yml
.config/github-copilot/
.config/helm/
.config/k9s/
.config/karabiner/automatic_backups
.config/karabiner/karabiner.ts/node_modules
.config/nvim/lazy-lock.json
.config/nvim/pack/airtable/
.config/nvim/spell/en.utf-8.add
.config/op
.config/pgcli/
.config/raycast
.config/raycast/extensions/
.config/zsh/.zcompdump
.config/zsh/history
.cursor/
.deno/
.docker/
.gnupg
.gradle/
.groot_data/
.histfile
.jenv/
.kube/
.lesshst
.m2/
.mono/
.mysql_history
.node_repl_history
.npm/
.npmrc
.nvs/
.psql_history
.python_history
.rustup/
.rye/
.sqlite_history
.terraform.d/
.testcontainers.properties
.tmux/
.tsh/
.viminfo
.vscode/
.wget-hsts
.zsh_history
.zsh_sessions
.zshrc*

Applications/
Desktop/
Documents/
Downloads/
Google*Drive
Library/
Movies/
Music/
Pictures/
Public/
bazel-cache
go/
h/
non-interactive-bazel-output-base/
