#https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous off

# Make autocomplete cast insensetive
set completion-ignore-case on

# delete backwards to a '/'.
# Where X is the cursor: .../..X becomes .../X
Control-p: unix-filename-rubout

# M-. and M-_ yank-last-arg (like doing !$)

# navigate forward and backwards whole words
Control-b: backward-word
Control-f: forward-word

# like Vim's "F" command
Control-[: character-search-backward

# When using up arrow/down arrow, use the text that has already been typed as
# the prefix for searching through commands (better history searching)
"\e[B": history-search-forward
"\e[A": history-search-backward
